body::before{
    display: block;
    content: '';
    height: 40px;    
}

#navbarSupportedContent{
    color: blueviolet;
    margin-left: 450px;
}

@media (min-width: 760px)
{
    .newsInput{
        width: 90%;
    }
}
/* 
@media (min-width:760px)
{
    .newsLtterH4{
        margin-left: 500px;
    }
} */
#map{
   height: 200px;
}